@media only screen and (min-width: 1001px) {
  :root {
    --card-var: 18rem;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --card-var: 24rem;
  }
}

@media only screen and (min-width: 1400px) {
  :root {
    --card-var: 28rem;
  }
}

@media only screen and (min-width: 1600px) {
  :root {
    --card-var: 31rem;
  }
}

@media only screen and (min-width: 1800px) {
  :root {
    --card-var: 36rem;
  }
}

@media only screen and (min-width: 2000px) {
  :root {
    --card-var: 39rem;
  }
}

@media only screen and (min-width: 2200px) {
  :root {
    --card-var: 34rem;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: white;
  margin: 0;
}

a {
  text-decoration: none;
}

.meta-title {
  color: #3f4955;
  margin-bottom: 0;
  margin-left: 0.9em;
}

@media only screen and (min-width: 1000px) {
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: var(--card-var);
    margin: 10px;
    font-size: 30px;
    position: relative;
  }

  .card img {
    object-fit: cover;
    display: block;
    margin-right: auto;
    width: 99%;
    height: 18rem;
    border-radius: 1em;
    filter: brightness(70%);
  }

  .card img:hover {
    filter: brightness(45%);
  }

  .content {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
  }

  .content h3 {
    text-transform: uppercase;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
    font-weight: 500;
    font-size: 0.5em;
    color: #fff;
  }

  .content h2 {
    color: #eef6ff;
    font-size: 0.8em;
  }

  .content p {
    color: #eef6ff;
    font-size: 0.5em;
    margin-top: 0.5em;
  }

  .content p span {
    margin-left: 0.5em;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 999px) {
  .card {
    display: flex;
    width: 100%;
    padding: 10px;
    position: relative;
    border-radius: 3px;
  }

  .card img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 1em 1.5em;
    margin-left: 0.6em;
    border-radius: 1em;
  }

  .content h3 {
    text-transform: uppercase;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
    font-weight: 500;
    font-size: 0.8em;
    color: #fb4b75;
  }

  .content h2 {
    color: #4e5863;
    font-size: 1.2rem;
    margin: 0;
  }

  .content p {
    color: #949496;
    margin: 0.7em 0;
  }

  .content p span {
    margin-left: 0.5em;
    text-transform: capitalize;
    font-size: 0.9em;
  }
}

.recent-card {
  position: relative;
  margin: 0.7em;
}

.recent-card img {
  object-fit: cover;
  display: block;
  margin-right: auto;
  width: 99%;
  height: 18rem;
  border-radius: 1em;
  filter: brightness(70%);
}

.recent-card img:hover {
  filter: brightness(45%);
}

.recent-content {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}

.recent-content h2 {
  color: #eef6ff;
}

.recent-content p {
  color: #eef6ff;
  margin: 0.7em 0;
}

.recent-content p span {
  margin-left: 0.5em;
  text-transform: capitalize;
  font-size: 1em;
}