body {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    background-color: #f7f7f7;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    background-color: #212121;
}

.navbar__item {
    display: inline-block;
    line-height: 4rem;
    margin: 20px;
}

.navbar__link {
    color: #fff;
    font-size: .9rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.2rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
}

.navbar__link:hover {
    background: #fff;
    color: #212121;
    transition: .3s;
}

.container {
    margin: 10px auto;
    width: 80%;
    height: auto;
}