body {
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 4rem;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.navbar__item {
    display: inline-block;
    line-height: 4rem;
    margin: 20px;
}
  
.navbar__link {
    color: #fff;
    font-size: .9rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.2rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
}

.navbar__link:hover {
    background: #fff;
    color: #212121;
    transition: .3s;
}